$blue: #001529;
$gray: #f5f5f5;
$dark-blue: #001520;
$dark-gray: #726a6a;
$deep-sky-blue: #00bfff;
$light-sky-blue: #87cefa;
$light-bisque: #ffe4c4;
$page-title-purple: #5a59d8;

$theme-blue: #1890ff;

// Cost colors
$cost-credit: #108ee9;
$cost-small: #87d068;
$cost-medium: #ff7f50;
$cost-large: #f50;

//module.exports = {
//  costCredit: $cost-credit;
//  costSmall: $cost-small;
//  costMedium: $cost-medium;
//  costLarge: $cost-large;
//}
//:export {
//  costCredit: $cost-credit;
//  costSmall: $cost-small;
//  costMedium: $cost-medium;
//  costLarge: $cost-large;
//}

// New Colors
$theme-purple: #566cd2;
$splitwise-gray: #666666;
$splitwise-green: #5bc6a6;
