$background-grey: rgb(248, 248, 248);
$light-grey: #d2d2d2;
$dark-grey: #a5a5a5;

$theme-blue: #3f63ab;
$theme-red: #d32c38;

$success-green: #4BB543;
$windows-blue:  #00a2ed;
$warning-orange:  #ff7c00;

$accent-color: #5c6ee5;
$box-shadow: $accent-color 0 0 8px 2px;
$background-gradient: linear-gradient(270deg, #b2c4f4 0%, #d0ebf0 100%);

