.header-container {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;

  button {
    margin-right: 1rem;
  }

  h1 {
    margin: 0;
  }

  .page-header-content {
    flex-grow: 1;
  }
}
