<app-page-header pageTitle="My Overview" backRoute="''"></app-page-header>
<div class="user-info-container">
  <div class="info-container">
    <div class="info">
      <img src="{{ user?.picture }}" alt="user_image" />
    </div>
    <div class="info">
      <label>Name</label>
      <span>{{ user?.name }}</span>
    </div>
    <div class="info">
      <label>Email</label>
      <span>{{ user?.email }}</span>
    </div>
    <div class="info">
      <label>Role</label>
      <span>{{ user?.roles?.join(", ") | transformToDisplayValue }}</span>
    </div>
  </div>
  <div class="budget-container">
    <div class="info-card blue">
      <h3>Frozen Budget</h3>
      <span>{{ user?.frozenBudget }} €</span>
    </div>
    <div class="info-card green">
      <h3>Remaining Budget</h3>
      <span>{{ user?.remainingBudget }} €</span>
    </div>
    <div class="info-card orange">
      <h3>Grow Day Balance</h3>
      <span>{{ user?.growDays | transformSpanToDays }}</span>
    </div>
  </div>
</div>
